/*
Project Name: Cat Blog (Column Layout)
Author: Nikhil Bachani | https://www.linkedin.com/in/nikhilbachani/
Made @ OneMonth HTML
*/

/* Box Model with vendor prefixes */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Float and clear classes */
.clear {
	clear: both;
}

/* For margin (and padding) all values can be specified in the following order:

0 = top
15px = right
15px = bottom
0 = left

*/

.align-left {
	float: left;
	margin: 0 15px 15px 0;
}

.align-right {
	float: right;
	margin: 0 0 15px 15px;
}

/* Layout styles */
#container {
	width: 1000px;
	margin: 0 auto;
}

#header {
	background: Silver;
	padding: 50px;
}

#main {
	background: SkyBlue;
	padding: 50px;
	width: 700px;
	float: left;
	text-align: justify;
}

#sidebar {
	background: Pink;
	width: 300px;
	padding: 50px;
	float: left;
}

#footer {
	background: PeachPuff;
	padding: 50px;
}
